.details-wrapper{
    height: 100vh;
    font-family: Bahnschrift;
}

.details-header{
    height: 20vh;
    background-color: black;
    color: white;
    border: 1px solid white;
}

.details-title{
    text-align: center;
    font-size: 300%;
    line-height: 300%;
}

.details-body{
    height: 80vh;
    background-color: black;
    color: white;
    display: flex;
}

.details-back{
    width: 5%;
}

.details-back-button{
    background-color: white;
    padding: 1vh;
    margin: 3vh;
}

.details-picture-part{
    width: 35%;
}

.details-picture{
    max-width: 100%;
}

.details-infos{
    width: 60%;
}

.details-article-name{
    height: 10%;
    font-weight: bold;
    font-size: 150%;
    line-height: 200%;
}

.details-product-info{
    height: 50%;
    width: 80%;
}

.details-tags{
    height: 20%;
    display: flex;
    align-items: center;
    color: black;
}

.details-tag{
    padding: 1vh;
    background-color: lightgrey;
    margin-right: 3vh;
    color: black;
}

.details-price{
    height: 10%;
    width: 80%;
    font-size: 130%;
}

.details-buy{
    height: 10%;
    text-align: right;
    display: flex;
    align-items: center;
}

.details-select{
    background-color: lightgrey;
    margin-left: 2vh;
    margin-right: 2vh;
}

.details-buy-button{
    background-color: lightgrey;
    padding: 1vh;
}

.details-white-picture{
    color: white;
    background-color: white;
    width: 80%;
    height: 60%;
    margin: 1vh;
    border-radius: 20%;
}