.home-wrapper{
    height: 100vh;
    font-family: Bahnschrift;
}

.home-header{
    height: 20vh;
    background-color: black;
    border: 1px solid white;
    color: white;
}

.home-title{
    text-align: center;
    font-size: 300%;
    line-height: 300%;
}

.home-body{
    height: 80vh;
    background-color: black;
    display: flex;
    color: white;
}

.home-filter-bar{
    width:15%;
    border-right: 1px solid white;
    text-align: center;
}

.home-filter-bar-text{
    font-size: 200%;
}

.home-select{
    background-color: white;
    color: black;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.home-slider-container{
    padding: 1vh;
    background-color: white;
    color: black;

}

.home-content{
    width: 100%;
}

.home-search{
    height: 20%;
    text-align: center;
    display: flex;
}

.home-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: 70%;
}

.home-cell {
    flex: 0 0 32%;
    min-height: 50px;
    margin-bottom: 5px;
    background-color: lightgrey;
    color: black;
    border: 1px solid black;
    cursor: pointer;
}
.home-cell:nth-child(2n) {
    background-color: darkgrey;
}

.home-chooser{
    text-align: center;
    height: 10%;
}

.home-nav-button{
    padding: 1vh;
    margin: 1vh;
    background-color: grey;
    color: black;
}

.home-search-input{
    width: 70%;
    height: 100%;
}

.home-extra-filter{
    width: 30%;
    margin-top: 2vh;
    font-size: 200%;
}

.home-search-input-component{
    margin-top: 3vh;
    font-size: 200%;
}

.home-item-picture{
    width: 10vh;
    height: 10vh;
    position: absolute;
}